/* variables */

:root {
	--color-bg: #708e9e;
	--color-shadow: #3f4a3c;
	--color-disabled: #a3af9e;
	--color-accent: #9cb79d;
	--color-btn: #325329;
	--color-cta: #dd1c1c;
	--color-font: #404040;
	--color-slogan: #3F82AC;


	--ff-standard: "Georgia", sans-serif;
}


body {
    background-image: url("../images/mobile--hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* hidden on mobile */

nav {
    display: none;
}

.cta--hero {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    right: 50%;
    bottom: 75%;
}

.cta--hero:hover, .cta--hero:focus {
    text-decoration: underline;
}

/* logo placement */

.logo-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

/* scrolling action to open tabs */

/* social links footer */

.socLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 6rem;
    left: 2rem;
}