/* variables */

:root {
	--color-bg: #47809e;
	--color-shadow: #3f4a3c;
	--color-disabled: #a3af9e;
	--color-accent: #9cb79d;
	--color-btn: #325329;
	--color-cta: #dd1c1c;
	--color-font: #404040;
	--color-slogan: #3F82AC;


	--ff-standard: "Georgia", sans-serif;
}

/* global laws */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: var(--ff-standard);
	color: var(--color-font);
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	color: var(--color-font);
}

main {
	display: grid;
	justify-content: center;
	padding-right: 0;
	margin: 0;
	width: 100%;
	overflow-y: scroll;
}

/* hiding content on mobile */

.left-arrow, .right-arrow, .about_section, .desktop__footer {
	display: none;
}

/* page margins */

/* header */
header {
	display: fixed;
}

.logo {
	display: flex;
	margin: 2rem 10%;
	position: absolute;
	top: 2rem;
	width: 80%;
}

.logo_bg img {
	width: 100%;
	margin-right: 0;
}

.slogan {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 2em;
	color: var(--color-slogan);
}

.slogan::after {
	content: '';
	position: absolute;
	background-color: var(--color-slogan);
	width: 65%;
	height: 2px;
	bottom: -.5rem;
}

.header_images {
	display: none;
}

/* nav */
.top_header {
	display: none;
}

/* mobile nav */
.mobile__nav {
	position: fixed;
}

/* product carousel */

.product_carousel {
	display: grid;
	grid-template-rows: minmax(20%, 2em) min-content minmax(20%, 3em);
	margin: 0;
}

.product_carousel_slides {
	grid-area: 2;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 2em;
	margin: 0;
	padding: 0;
	overflow: scroll;
	-ms-overflow-style: none;  /* hiding scrollbar IE and Edge */
	scrollbar-width: none;  /* hiding scrollbar Firefox */	
}

.product_slide {
	display: grid;
	position: relative;
	
}

.product_slide img {
	display: block;
	height: 20rem;
	width: auto;
}

.cta-product {
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

/* hiding scrollbar for chrome*/

::-webkit-scrollbar {
     background: transparent;
}


/* thumbslider mobile footer */

.thumb__nav-container {
	visibility: hidden;
}

.thumb__slider {
	background-color: white;
}

.thumb__slider img{
	width: 100%;
	position: fixed;
	bottom: 0;
}

.hb-menu__container {
	display: grid;
	justify-content: center;
}

input[type=checkbox] {
	visibility: hidden;
}

input[type=checkbox] + label {
	display: grid;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: .375em;
}

input[type=checkbox]:checked + label {
	position: fixed;
	bottom: 0;
	height: 35em;
	background-color: var(--color-bg);
	border: var(--color-slogan) 10px solid;
	border-radius: 3em 3em 0 0;
	padding-top: 1em;
}

/* products page */

.products__container {
	display: block;
	margin: 0;
	padding: 0;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.products__container ul {
	display: grid;
	grid-template-columns: minmax(40%, 10rem) minmax(40%, 10rem);
	column-gap: 1em;
	justify-content: center;
	margin: 2em 0 5em;
	padding: 0;
}

/* .products__box {
}

.products__link {
}

.product__image {
} */
