/* variables */

:root {
	--color-bg: #47809e;
	--color-shadow: #3f4a3c;
	--color-disabled: #a3af9e;
	--color-accent: #9cb79d;
	--color-btn: #325329;
	--color-cta: #dd1c1c;
	--color-ctatext: #ffffff;
	--color-font: #404040;
	--color-slogan: #3f82ac;

	--ff-standard: "Georgia", sans-serif;
	--fs-standard: 1em;
	--fs-small: 0.625em;
}

/* global laws */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: var(--ff-standard);
	color: var(--color-font);
	box-sizing: inherit;
}

body {
	display: grid;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: var(--ff-standard);
	font-size: var(--fs-standard);
	color: var(--color-font);
	box-sizing: inherit;
	background-color: #ffffff;
	width: 100%;
}

main {
	display: grid;
	justify-content: center;
	margin: 0;
	width: 100%;
}

.sr-only {
	visibility: hidden;
}
/* hiding content on mobile */

.left-arrow,
.right-arrow,
.about_section,
.desktop__footer {
	display: none;
}

/* page margins */

/* header */
header {
	display: fixed;
}

.logo {
	display: flex;
	position: absolute;
	margin: 2em 8vw;
	top: 2rem;
	width: 80%;
}

.logo_bg img {
	width: 100%;
	margin: 0;
}

.slogan {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 2em;
	color: var(--color-slogan);
	font-size: var(--fs-standard);
}

.slogan::after {
	content: "";
	position: absolute;
	background-color: var(--color-slogan);
	width: 65%;
	height: 2px;
	bottom: -0.5rem;
}

.header_images {
	display: none;
}

/* nav */
.top_header {
	display: none;
}

/* mobile nav */
.mobile__nav {
	position: fixed;
}

/* product carousel */

.product_carousel {
	display: grid;
	grid-template-rows: min-content minmax(20%, 3em);
	margin: 0;
}

.product_carousel_slides {
	grid-area: 1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1.25em;
	margin: 2em 0 0 0;
	padding: 0;
	overflow-x: scroll;
	-ms-overflow-style: none; /* hiding scrollbar IE and Edge */
	scrollbar-width: none; /* hiding scrollbar Firefox */
}

.product_slide {
	display: grid;
	position: relative;
}

.product_slide img {
	display: block;
	height: 20em;
	width: auto;
}

.cta-product {
	display: flex;
	justify-content: center;
	border: var(--color-shadow) solid 2px;
	background-color: var(--color-cta);
	color: var(--color-ctatext);
	width: 50%;
	border-radius: 0.5em;
	margin-inline: auto;
	margin-top: -2em;
	padding-block: 1em;
}

/* hiding scrollbar for chrome*/

::-webkit-scrollbar {
	background: transparent;
}

/* thumbslider mobile footer */

.thumb__nav-container {
	visibility: hidden;
}

.thumb__slider {
	background-color: white;
}

.thumb__slider img {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.hb-menu__container {
	display: grid;
	justify-content: center;
}

input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"] + label {
	display: grid;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0.375em;
}

input[type="checkbox"]:checked + label {
	position: fixed;
	bottom: 0;
	height: 35em;
	background-color: var(--color-bg);
	border: var(--color-slogan) 10px solid;
	border-radius: 3em 3em 0 0;
	padding-top: 1em;
}

/* products page */

.products__container {
	display: grid;
	margin: 0;
	padding: 0;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.products__container ul {
	display: grid;
	grid-template-columns: minmax(40%, 10rem) minmax(40%, 10rem);
	column-gap: 1em;
	justify-content: center;
	margin: 2em 0 5em;
	padding: 0;
}

.products__link {
	display: block;
	width: 10em;
}

/* .product__image {} */

/* individual product pages */

.product__container {
	display: grid;
	justify-content: center;
	overflow-x: hidden;
}

.product__main {
	display: grid;
	grid-template-columns: auto auto;
	margin: 4em 2em 2em;
	justify-content: center;
}

.product__image-container {
	display: flex;
	justify-content: center;
}

.product__main img {
	width: 8em;
}

@media only screen and (max-width: 340px) {
	.product__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.slogan {
		display: none;
	}
}

.product__info {
	text-align: start;
}

.product__title {
	margin-left: 0;
	padding-bottom: 0.5em;
}

.product__desc {
	max-width: 25ch;
	padding-bottom: 0.25em;
}

.product__price_sm {
	font-size: var(--fs-small);
}

.btn__add-cart {
	display: flex;
	border: var(--color-shadow) solid 2px;
	background-color: var(--color-cta);
	color: var(--color-ctatext);
	width: 50%;
	border-radius: 0.5em;
	padding: 0.75em 0.25em;
	justify-content: center;
	justify-self: center;
}

/* dividing line */

.divider__product {
	margin: 2em 3em 0;
	background-color: var(--color-slogan);
	height: 0.25em;
}
/* decorative marketing images */

.marketing__images {
	display: grid;
	justify-content: center;
	margin: 2em 0 6em;
	gap: 1em;
	width: 100%;
}

.image__container {
	display: flex;
	justify-self: center;
	flex-direction: column;
	width: 70%;
}

.image__container img {
	object-fit: cover;
}
