/* variables */

:root {
	--color-bg: #47809e;
	--color-shadow: #3f4a3c;
	--color-disabled: #a3af9e;
	--color-accent: #9cb79d;
	--color-btn: #325329;
	--color-cta: #dd1c1c;
	--color-ctatext: #ffffff;
	--color-font: #404040;
	--color-slogan: #3f82ac;

	--ff-standard: "Georgia", sans-serif;
	--fs-bigger: 1.25em;
	--fs-standard: 1em;
	--fs-small: 0.625em;
}

/* global laws */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: var(--ff-standard);
	color: var(--color-font);
	box-sizing: inherit;
}

body {
	display: grid;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: var(--ff-standard);
	font-size: var(--fs-standard);
	color: var(--color-font);
	box-sizing: inherit;
	background-color: #ffffff;
	width: 100%;
}

main {
	display: grid;
	justify-content: center;
	margin: 0;
	width: 100%;
}

.sr-only {
	visibility: hidden;
}
/* hiding content on mobile */

.left-arrow,
.right-arrow,
.about_section,
.desktop__footer {
	display: none;
}

/* page margins */

/* header */
header {
	display: fixed;
}

.logo {
	display: flex;
	margin: -5em auto -2em;
	width: 80%;
	max-width: 500px;
}

.logo_bg img {
	width: 100%;
	margin: 0;
}

@media only screen and (min-width: 500px){
	.logo_bg {
		position: relative;
		top: -3em;
		z-index: -1;
	}

	.logo {
		margin-top: -9em;
	}
}

.slogan {
	display: flex;
	position: relative;
	justify-content: center;
	color: var(--color-slogan);
	font-size: var(--fs-bigger);
}

.slogan::after {
	content: "";
	position: absolute;
	background-color: var(--color-slogan);
	width: 65%;
	max-width: 500px;
	height: 3px;
	bottom: -0.5rem;
}

.header_images {
	display: none;
}

/* nav */
.top_header {
	display: none;
}

/* mobile nav */
.mobile__nav {
	position: fixed;
}

/* product carousel */

.product_carousel {
	display: grid;
	grid-template-rows: min-content minmax(20%, 3em);
	margin: 0;
}

.product_carousel_slides {
	grid-area: 1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1.25em;
	margin: 2em 0 0 0;
	padding: 0;
	overflow-x: scroll;
	-ms-overflow-style: none; /* hiding scrollbar IE and Edge */
	scrollbar-width: none; /* hiding scrollbar Firefox */
}

.product_slide {
	display: grid;
	position: relative;
}

.product_slide img {
	display: block;
	height: 20em;
	width: auto;
}

.cta-product {
	display: flex;
	justify-content: center;
	border: var(--color-shadow) solid 2px;
	background-color: var(--color-cta);
	color: var(--color-ctatext);
	width: 50%;
	border-radius: 0.5em;
	margin-inline: auto;
	margin-top: -2em;
	padding-block: 1em;
}

/* hiding scrollbar for chrome*/

::-webkit-scrollbar {
	background: transparent;
}

/* thumbslider mobile footer */

.thumb__nav-container {
	visibility: hidden;
}

.thumb__slider {
	background-color: white;
}

.thumb__slider img {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.hb-menu__container {
	display: grid;
	justify-content: center;
}

.thumb-nav__icons,
.burger__social {
	display: none;
}

input[type="checkbox"] {
	visibility: hidden;
}

input[type="checkbox"] + label {
	display: grid;
	justify-content: center;
	position: fixed;
	width: 100%;
	bottom: 0.375em;
}

input[type="checkbox"]:checked + label {
	position: fixed;
	bottom: 0;
	height: 35em;
	width: 100%;
	background-color: var(--color-bg);
	border: var(--color-slogan) 10px solid;
	border-radius: 3em 3em 0 0;
	padding-top: 1em;
	
}

input[type="checkbox"]:checked + label > #burger__icon {
	margin-inline: auto;
}

input[type="checkbox"]:checked + label > .thumb-nav__icons {
	display: grid;
	grid-template-columns: auto auto;
}

input[type="checkbox"]:checked + label > .burger__social {
	display: flex;
	justify-content: space-evenly;

}


/* products page */

.products__container {
	display: grid;
	margin: 0;
	padding: 0;
	height: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.products__container ul {
	display: grid;
	grid-template-columns: minmax(40%, 10rem) minmax(40%, 10rem);
	column-gap: 1em;
	justify-content: center;
	margin: 2em 0 5em;
	padding: 0;
}

@media only screen and (max-width: 375px) {
	.products__container > ul {
		display: flex;
		flex-wrap: wrap;
	}
}

@media only screen and (min-width: 690px) {
	.products__container > ul {
		display: grid;
		grid-template-columns: auto auto auto;
	}
}

.products__link {
	display: block;
	width: 10em;
}

/* .product__image {} */

/* individual product page */

.product__container {
	display: grid;
	justify-content: center;
}

.product__main {
	display: grid;
	grid-template-columns: auto auto;
	margin: 2em 2em 2em;
	justify-content: center;
}

.product__image-container {
	display: flex;
	justify-self: center;
	width: max-content;
}

.product__main img {
	display: inline-block;
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 375px) {
	.product__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.product__image-container {
		padding-left: 1.2em;
		margin-inline: auto;
	}

	.slogan {
		font-size: var(--fs-standard);
		max-width: 18ch;
		text-align: center;
		margin: 1em auto 0;
	}
}

.product__info {
	text-align: start;
}

.product__title {
	margin-left: 0;
	padding-bottom: 0.5em;
}

.product__desc {
	max-width: 25ch;
	padding-bottom: 0.25em;
}

.product__price_sm {
	font-size: var(--fs-small);
}

.btn {
	display: flex;
	border: var(--color-shadow) solid 2px;
	background-color: var(--color-cta);
	color: var(--color-ctatext);
	width: 50%;
	border-radius: 0.5em;
	padding: 0.75em 0.25em;
	justify-content: center;
	justify-self: center;
}

/* dividing line */

.divider__product {
	margin: 2em 3em 0;
	background-color: var(--color-slogan);
	height: 0.25em;
}
/* decorative marketing images */

.marketing__images {
	display: grid;
	justify-content: center;
	margin: 2em 0 6em;
	gap: 1em;
	width: 100%;
}

.image__container {
	display: flex;
	justify-self: center;
	flex-direction: column;
	width: 70%;
}

.image__container img {
	object-fit: cover;
}

/* cart page */

.product__img-chk {
	display: flex;
	justify-content: center;
	padding-left: 1em;
	margin-top: 1em;
}

/* placing summary on grid */

.summary__chk {
	width: 80%;
	display: grid;
	grid-template-areas: 
	". qua pri"
	"jnam qua1 pri1"
	"shi qua2 pri2"
	". . pri3";
	grid-template-columns: auto 30% 30%;
	grid-template-rows: auto 40% 40% auto;
	justify-self: center;
	margin-block: 2em;
}

.summary__chk-txt1 {
	grid-area: qua;
}

.summary__chk-txt2 {
	grid-area: pri;
}

.summary__chk-txt3 {
	grid-area: jnam;
}

.summary__chk-txt4 {
	grid-area: qua1;
}

.summary__chk-txt5 {
	grid-area: pri1;
}

.summary__chk-txt6 {
	grid-area: shi;
}

.summary__chk-txt7 {
	grid-area: qua2;
}

.summary__chk-txt8 {
	grid-area: pri2;
}

.summary__chk-txt9 {
	grid-area: pri3;
}

.summary__chk > * {
	display: block;
	text-align: end;
}

.summary__chk-txt3, .summary__chk-txt6 {
	padding-right: 1em;
}

/* grid lines cart page */

.summary__chk-txt1, .summary__chk-txt2, .summary__chk-txt7, .summary__chk-txt8 {
	border-bottom: var(--color-shadow) solid 2px;
}

/* checkout page */

.chkout__pmt {
	display: grid;
}

.chkout__pmt-meth > label {
	display: grid;
}


.chkout__card-det > label {
	display: block;
}

.chkout__pmt-meth > label > span,
.chkout__card-det > label > span {
	display: inline-block;
	text-align: center;
}

.chkout__form {
	margin-top: 3em;
	display: grid;
	justify-self: center;
	justify-content: center;
	max-width: 90%;
}

.chkout__card-meth {
	display: grid;	
	grid-template-rows: repeat(3, 1fr);

	}

.chkout__card-det {
	display: grid;	
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	text-align: end;
	margin-inline-end: 1em;
	margin-block-start: 1em;
}

.btn__comp-check {
	margin-block-start: 2em;
}

/* checkout success */

.chk__success-img {
	display: grid;
	grid-auto-flow: row;
	max-width: 80%;
	justify-self: center;
	margin-block-start: 1.25em;
}

.chk__success-txt {
	text-align: center;
	max-width: 25ch;
}

.chk__success-txt  h2 {
	margin-block-end: .5em;
}

.img__cont {
	display: block;
	margin-inline: auto;
}

.img__cont:last-of-type {
	padding-inline-start: 1em;
	margin-block-end: 1em;
}

/* about us page mobile */

.about__mobile-main {
	display: grid;
	grid-auto-flow: row;
	margin-block-end: 2em;
}

#about__header-image {
	display: block;
	width: 20em;
	height: auto;
	margin: 2em auto;
}

#about__header-image img {
	width: 100%;
}

.about__mobile-txt {
	display: block;
	max-width: 80%;
	text-align: center;
	justify-self: center;
}

.mailing-list__form {
	margin-inline: auto;
	margin-block-end: 6em;
	max-width: 26.25em;
}

.mailing-list__mobile {
	display: flex;
	flex-direction: column;
	border: var(--color-shadow) solid 2px;
	border-radius: 1em;
	padding: 1.5em;
	margin-inline: 2em;
	background-color: var(--color-btn);
}

.mailing-list__mobile h2 {
	color: var(--color-ctatext);
	text-align: center;
}

.mailing-list__mobile input {
	max-width: 30em;
	margin-inline: auto;
	margin-block-end: 1em;
}

.btn__join {
	margin-inline: auto;
	max-width: 16em;
}
